/3_2026Application_Form_for_FY2026_Teacher_Training JAPAN.pdf
/AdobeLightroomDownloader.997kdlu9.zip.part
/AdobeLightroomDownloader.zip
/Alliance International chest examination.pdf
/assigment.jpeg
/assignment 2.jpeg
/attestment.pdf
/birth cert.pdf
/Black and White Professional Virtual Assistant Job Cover Letter.pdf
/CamScanner 23-02-2026 20.10 WAEC.pdf
/ChromeSetup (1).exe
/ChromeSetup(1).exe
/ChromeSetup(2).exe
/ChromeSetup(3).exe
/ChromeSetup.exe
/Classroom of Sunshine Smiles.png
/Claude Setup(1).exe
/Claude Setup.exe
/contact-import-template(1).csv
/contact-import-template.csv
/Coursera 2 prompt like pro.pdf
/Coursera Speed up.pdf
/CSC Steps to Download Microsoft Authenticator-1.pdf
/CSC Steps to Download Microsoft Authenticator.pdf
/cy.pdf
/cyber.pdf
/DaVinci_Resolve_20.3_Windows.zip
/desktop.ini
/Downloads - Shortcut.lnk
/dummy email  contact.csv
/e9135456323d0324236ac0581107bdf49f361f20.pdf
/email contact list.xlsx
/employment letter.jpeg
/fcai result.jpeg
/Git-2.54.0-64-bit.exe
/glass frame.jpg
/GoldenTreeWebsite.zip
/Hailuo_Video_a cute 3D animated yellow star_498183619560026121.mp4
/Hailuo_Video_a cute 3D animated yellow star_498184271115771909.mp4
/helvetica-255.zip
/HND_Certificate.pdf
/htmlviewer.html.txt
/HubSpot Contacts Template(1).csv
/HubSpot Contacts Template(2).csv
/HubSpot Contacts Template(3).csv
/HubSpot Contacts Template(4).csv
/HubSpot Contacts Template(5).csv
/HubSpot Contacts Template(6).csv
/HubSpot Contacts Template(7).csv
/HubSpot Contacts Template(8).csv
/HubSpot Contacts Template(9).csv
/HubSpot Contacts Template.csv
/H_6ITbh7QEG-iE24e_BB7A_03d3d749f1b94def8a55bdaa10506af1_Contact_List.xlsx
/i287344v4n1_i287344v1n2_NetEss_1.0_c5_287344_PTMO1-1(1).pka
/i287344v4n1_i287344v1n2_NetEss_1.0_c5_287344_PTMO1-1.pka
/I2CSUpdate20260211-32-55mv00.pdf
/index.html
/inter pdf.pdf
/international passport.jpeg
/letsvpn-latest.exe
/Letter of employment .pdf
/magichour_video_to_audio-2026-04-08-cmnpqmdvd02mr300z9kwxtoed.mp4
/marriage cert.pdf
/motivation letter soas.docx
/motivation letter.docx
/motivation pdf.pdf
/motivation video.mp4
/Motivation_Letter_Padova_Food_Science_Precious_Edeh.pdf
/My Cover Letter(1).txt
/My Cover Letter(2).txt
/My Cover Letter.txt
/My CV MAIA.pdf
/ND CERT.pdf
/NJdZ98rXQ0KXWffK14NCPA_7a7bf6624e824e7dab05527ca86083f1_Email-campaign-performance-data.xlsx
/npp.8.9.3.Installer.x64(1).exe
/npp.8.9.3.Installer.x64(2).exe
/npp.8.9.3.Installer.x64.exe
/NXDJ4339.JPG
/NYSC EDEH PRECIOUS N.pdf
/ONOJA PRAISE EKUM result.pdf
/Onoja praise- birth certificate.pdf
/original hnd .pdf
/passport photo.jpeg
/passport(1).jpeg
/passport(2).jpeg
/passport.pdf
/Personal Statement 2.docx
/Personal Statement.docx
/pictureframe.jpg
/PMP Scholarship 5(1).png
/PMP Scholarship 5.png
/PRAISE ACADEMIC CV-1.docx
/PRAISE ACADEMIC CV-1_Phoenix.pdf
/precious alliance laos.pdf
/precious cv kor-1.pdf
/precious cv kor.pdf
/PRECIOUS EDEH COVER LETTER REDD-1.pdf
/PRECIOUS EDEH COVER LETTER REDD.pdf
/precious edeh cover letter.pdf
/precious europass cv-1.pdf
/precious europass cv-2.pdf
/precious europass cv-3.pdf
/precious europass cv.pdf
/precious NEBOSH APLLICATION VIDEO.mp4
/Precious Nzube Udozor Vientiane, Lao. Preciousedeh422@gmail.com, 020 94 011 062 , httplinkedin.cominprecious-edeh-355690326 ,Portfolio Precious Edeh – Digital Marketing & Automation Specialist.pdf
/Precious Nzube Udozor-1.pdf
/Precious Nzube Udozor-2.pdf
/Precious Nzube Udozor-3.pdf
/Precious Nzube Udozor-4.pdf
/Precious Nzube Udozor-canada resume-1.pdf
/Precious Nzube Udozor-canada resume.pdf
/Precious Nzube Udozor.pdf
/precious travel plan-1.pdf
/precious travel plan.pdf
/Precious Udozor Digital Marketing CV.pdf
/Precious Udozor Email preciousedeh422@gmail.com Phone 02094011062 Location Laos (Open to remote opportunities).pdf
/Precious_Edeh_Referee_Letter_NEBOSH.docx
/Proof of English language PRAISE.pdf
/prove of english.pdf
/prove of residence.jpeg
/Purple and White Clean and Professional Resume.pdf
/questionnaire2025.pdf
/README.md
/real europass cv.pdf
/reference.pdf
/Resume - Junior Email Marketer.pdf
/Screenshot 2025-11-03 at 14-21-42 Email campaign performance data - Google Sheets.png
/Screenshot 2025-11-05 at 16-58-32 (2) precious Edeh LinkedIn.png
/script.js
/Student Contact List Information.xlsx
/styles.css
/Sweden own  2 PASS ONOJO.pdf
/T6dHfKhQRxinR3yoUHcYpA_820fa40647cf401fb93c44c5da233ff1_Activity-Template_-Apology-email(1).docx
/T6dHfKhQRxinR3yoUHcYpA_820fa40647cf401fb93c44c5da233ff1_Activity-Template_-Apology-email.docx
/teaching 1.jpeg
/teaching 2.jpeg
/teacing3.jpeg
/Transcript for Edeh.pdf
/Transcript For Praise Onoja .pdf
/travel-itinerary.xlsx
/tsetup-x64.5.3.1.exe
/Udozor Precious Nzube 13 Sonetida Saphangmerk, Dongdok 020 94 011 062 preciousedeh422@gmail.com.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-1.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-2.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-3.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-4.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-5.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-6.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-7.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-8.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1-9.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-1.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-2.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-3.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-4.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-5.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS-6.pdf
/Udozor-Precious_Nzube-500791044-MSC_AGFS.pdf
/Untitled document-1.pdf
/Untitled document-2.pdf
/Untitled document.pdf
/video.mp4
/visa.jpeg
/VSCodeUserSetup-x64-1.118.1.exe
/waec 1.pdf
/waec.jpeg
/WhatsApp Image 2025-12-23 at 8.25.02 AM.jpeg
/WhatsApp Installer(1).exe
/WhatsApp Installer(2).exe
/WhatsApp Installer.exe
/work 1.jpeg
/work 2.jpeg
/work 4.jpeg
/work 5.jpeg
/Work 7.jpeg
/work3.jpeg
/work6.jpeg
/XCIK1019.MP4
/z42oCPXrT4eNqAj160-H3g_85bc884197084f28b7380533a42941f1_Activity-Exemplar_-Apology-email.docx
/~$email contact list.xlsx
/~$rsonal Statement.docx
/~$tivation letter.docx